{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "dynamic-import-webpack",
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "babel-plugin-styled-components",
      {
        "minify": false,
        "uglifyPure": false
      }
    ]
  ]
}
